* {
  margin: 0;
  font-family: "segoe ui";
}

.logo {
  display: flex;
  align-items: center;
  color: aliceblue;
  width: 40%;
  height: 30%;
  margin-left: 20px;
  border-radius: 10px;
}
.head {
  background-color: rgb(37, 35, 35);
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.loc {
  color: azure;
  margin-right: 70px;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.lin {
  text-decoration: none;
  color: white;
}

.lin:hover {
  transition: all 0.3s ease-in-out;
  color: aqua;
  transform: scale(1.03);
}

.loc nav {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

/* 
FirstSection
*/
.firstSection {
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url("../images/shape_wallpaper_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
.glass1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 70%;
  background-color: #ffffff19;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.137);
  border: 1px solid rgba(225, 225, 225, 0.2);
}

.con2 {
  background-color: rgb(84, 84, 84);
  width: 50%;
  height: 85%;
  border-radius: 12px;
  border: 2px solid rgb(62, 61, 61);
}

.content {
  margin-left: 40px;
  color: white;
  row-gap: 20px;
  font-weight: 400;
}

.contentMain {
  margin-bottom: 30px;
  margin-left: 40px;
  color: white;
  font-size: 54px;
}

.but1 {
  width: 30%;
  height: 50px;
  margin-left: 60px;
  margin-top: 50px;
  border-radius: 16px;
  border: 1px solid rgba(225, 225, 225, 0.2);
  background-color: #ffffff2c;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
  font-size: large;
}

.but1:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 8px 32px rgba(239, 76, 141, 0.652);
  border: 1px solid rgba(240, 139, 180, 0.652);
}

.glass1:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 8px 32px rgba(255, 186, 13, 0.2);
  border: 1px solid rgba(255, 144, 17, 0.2);
}

.secondSection { 
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 50vh;
  background-color: rgb(20, 20, 20);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondSection h2 {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 40px;
  color: aqua;
}

.secondSection h1 {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 60px;
  color: rgb(231, 231, 231);
}

.ide {
  display: none;
}

.span1 {
    color: violet;
}

.feat {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-image: url("../images/Cubics1.jpg");
    background-position: center;
    background-size: cover;
    
}

.featIcon {
    width: 4%;
    height: 300px;
    background: radial-gradient(circle at center, #25e8ee, #1c5c5a);
    margin-bottom: 200px;
    margin-left: 20px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}


.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.085);
    border-radius: 16px;
    border: 1px solid rgb(223, 223, 223);
    backdrop-filter: blur(5px);
}

.features h1 {
  margin-left: 80px;
  margin-top: 20px;
  font-size: 44px;
  color: white;
  margin-bottom: 40px;
}

.dive {
  margin-left: 90px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

/* The Icons in the features  */


.featureBox {
  display: flex;
  align-content: center;
  justify-content: center;
  row-gap: 50px;
  column-gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;

}

.dragAndDrop {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(255, 192, 19);
  backdrop-filter: blur(3px);

}

.codeExplanations {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(231, 19, 255);
  backdrop-filter: blur(3px);

}


.support {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(19, 255, 39);
  backdrop-filter: blur(3px);


}

.extentions  {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(255, 192, 19);
  backdrop-filter: blur(3px);


}

.librariesAndFramworks {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(54, 151, 224);
  backdrop-filter: blur(3px);

}

.downloads {
  column-gap: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  width: 40%;
  height: 120px;
  background-color: rgba(249, 249, 249, 0.126);
  border-radius: 16px;
  border: 1px solid rgb(46, 234, 234);
  backdrop-filter: blur(3px);

}

.dragAndDrop:hover {
  transition: all 0.4s ease-in-out;
  background-color: #b89a66;
  box-shadow: 0 8px 32px rgba(255, 186, 13, 0.442);
  transform: scale(1.01);
}

.codeExplanations:hover {
  transition: all 0.4s ease-in-out;
  background-color: #9d66b8;
  box-shadow: 0 8px 32px rgba(186, 13, 255, 0.442);
  transform: scale(1.01);

}

.support:hover {
  transition: all 0.4s ease-in-out;
  background-color: #84b866;
  box-shadow: 0 8px 32px rgba(53, 255, 13, 0.442);
  transform: scale(1.01);

}

.extentions:hover {
  transition: all 0.4s ease-in-out;
  background-color: #b87666;
  box-shadow: 0 8px 32px rgba(255, 90, 13, 0.442);
  transform: scale(1.01);

}

.librariesAndFramworks:hover {
  transition: all 0.4s ease-in-out;
  background-color: #66b8b5;
  box-shadow: 0 8px 32px rgba(13, 126, 255, 0.442);
  transform: scale(1.01);

}

.downloads:hover {
  transition: all 0.4s ease-in-out;
  background-color: #6687b8;
  box-shadow: 0 8px 32px rgba(13, 98, 255, 0.442);
  transform: scale(1.01);

}

/* Info  */




.info1 h2 {
  color: #fab53d;
  font-size: 24px;
}

.info1 p {
  color: white;
}



.info2 h2 {
  color: #ec6cdd;
  font-size: 24px;
}

.info2 p {
  color: white;
}




.info3 h2 {
  color: #7fec6c;
  font-size: 24px;
}

.info3 p {
  color: white;
}


.info4 h2 {
  color: #ec8a6c;
  font-size: 24px;
}

.info4 p {
  color: white;
}



.info5 h2 {
  color: #8bacff;
  font-size: 24px;
}

.info5 p {
  color: white;
}



.info6 h2 {
  color: rgb(46, 234, 234);
  font-size: 24px;
}

.info6 p {
  color: white;
}




/*  Third Section  */

.thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 23);
  width: 100%;
  height: 80vh;
}

.twoMill {
  font-weight: 700;
  color: #7fec6c;
  font-size: 94px;
}

.thirdH1 {
  color: white;
  font-size: 44px;
  font-weight: 500;
  margin-right: 200px;
  margin-bottom: 50px;
  
}

.approach {
  display: flex;
  align-items: center;
  width: 90%;
  height: 50vh;
  background-image: url("../images/cloud1.jpg");
  border-radius: 16px;
  background-position: center;
  background-size: cover;
}

.newApproach {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  margin-left: 20px;
  border-radius: 12px;
  background-color: rgba(240, 248, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.162);

}


.newApproach h2 {
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
}

.newApproach h1 {
  color: white;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 70px;
}

.newApproach button {
  width: 50%;
  height: 40px;
  margin-left: 30px;
  border-radius: 22px;
  border: 0.1px solid rgba(255, 255, 255, 0.247);
  background-color: #ffffff2c;
  font-size: 16px;
  color: white;
  font-weight: 500;
  

}

.newApproach button:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 8px 32px rgba(251, 204, 50, 0.2);
  color: #7fec6c;
  transform: scale(1.01);
}

.newApproach:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 0 8px 32px rgba(251, 204, 50, 0.2);
  transform: scale(1.01);
}











/* Media queries  */

@media (max-width: 1024px) {
  .loc {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(57, 58, 58, 0.208);
    position: absolute;
    top: 70px; /* Adjust based on header height */
    right: 20px;
    width: 80%;
    height: 30px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .con2 {
    display: none;
  }

  .lin:hover {
    transition: all 0.3s ease-in-out;
    color: aqua;
    transform: scale(1.03);
  }

  .loc.active {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .ide {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    background-color: rgb(185, 176, 142);
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 12px;
    border: 2px solid rgb(62, 61, 61);

    /* the Ide codes start from here  */

    font-weight: 600;
    font-size: large;
  }

  .featIcon {
    display: none;
    margin-left: 0;
  }

  .features{
    width: 100%;
    margin-left: 0;
  }
}
